<div class="topbar">
  <div class="container">
    <div class="vertical-center">
      <%=  link_to 'want a car buy a car', root_path %> > categories > subcategories
    </div>
  </div>
</div>
<div class="container">
  <div>
    <button type="button">reply</button>
    <%=  time_ago_in_words(@listing.created_at) %>
    <h1 class="listing-header"><%= @listing.title %> </h1>     

    <div class="box">
    <% if @listing.user = current_user %>
      <p><%= link_to 'edit', edit_listing_path %></p>
      <p><%= link_to 'delete', @listing, data: {confirm: "Wait! Are you sure ?"}, method: :delete %></p>
    <% end %>
    </div>

    <p> 
    <%=  @listing.description %>
      <%= image_tag @listing.image.to_s if @listing.image_url.present? %>
      <%=  @listing.year %>
      <%=  @listing.miles %>
      <%=  @listing.transmission %>
      <%=  @listing.color %>
      <%=  @listing.cylinder %>
      <%=  @listing.fuel %>
      <%=  @listing.drive %>          
    </p>       
  </div>

  <footer>
    <p><%=  @listing.id %></p>    
    <p>posted <%=  time_ago_in_words(@listing.created_at) %></p>    
    <p>updated <%=  time_ago_in_words(@listing.updated_at) %></p>      
  </footer>
  
</div>

